---
layout: default
---

.grid_6
  %h2.sec_head Who I am
  %p I am a university student, developer, and a general gov/tech nerd. You may also find me playing saxophone on national television (only during college basketball season). I am passionate about how governments and citizens interact with each other using technology.
  %p Web applications are my weapon of choice. I've done most of my work in PHP or (more recently) <a href="https://www.djangoproject.com/">Django</a> but I am language agnostic. If given a choice, I would probably submit myself to the powers of <a href="http://nodejs.org/">Node.JS</a> for any reasonable project.

.grid_6
  %h2.sec_head What I do
  %p I am currently working with <strong><a href="http://www.codeforamerica.org">Code for America</a></strong> as a <a href="http://code.google.com/soc/">Google Summer of Code</a> student developing a <a href="https://github.com/codeforamerica/open311dashboard">dashboard</a> to visualize 311 requests made in the cities of San Francisco and Boston.
  %p I am also a rising senior at <strong><a href="http://scu.edu/">Santa Clara University</a></strong> studying Political Science and Math. During the upcoming school year, I will be co-president of the Santa Clara Pep Band with <a href="http://twitter.com/Quin414">this man</a>. We are in charge of performances at all men's and women's home basketball games and women's volleyball games. In the Spring, we will take a group of 30 musicians to Las Vegas for the WCC basketball tournament.

.clear

.grid_12
  %h2.sec_head What I've done before

%p.grid_4 While interning for the <strong><a href="http://fcc.gov">Federal Communications Commission</a></strong> in Fall 2010, I helped the new media team develop a system to <a href="http://www.fcc.gov/blog/auditing-fccgov-open-source-developerview">organize and tag existing pages</a> on FCC.gov for import into the new site.
%p.grid_4 At my on-campus job for the <strong><a href="http://scu.edu/careercenter">Santa Clara University Career Center</a></strong>, I redesigned their entire website layout within the CommonSpot CMS that led to a 10% growth in traffic. I also provide ongoing web support and advise the center on new technologies.
%p.grid_4 For two summers after I graduated high school I worked for <strong><a href="http://cts.cubic.com/">Cubic Transportation Systems</a></strong>, helping implement an enterprise wiki system to organize their engineering design documents.
.clear
