---
layout: default
---

.grid_6
  %h2.sec_head Who I am
  :markdown
    I am a university student, developer, and a general gov/tech nerd. You may
    also find me playing saxophone on national television (only during college
    basketball season). I am passionate about how governments and citizens
    interact with each other using technology.

    Web applications are my weapon of choice. I've done most of my work in PHP
    or (more recently) [Django](https://www.djangoproject.com/) but I am
    language agnostic. If given a choice, I would probably submit myself to the
    powers of [Node.JS](http://nodejs.org/) for any reasonable project.

.grid_6
  %h2.sec_head What I do
  :markdown
    At my on-campus job for the **[Santa Clara University Career
    Center](http://scu.edu/careercenter)**, I redesigned their entire website
    layout within the CommonSpot CMS that led to a 10% growth in traffic. I
    also provide ongoing web support and advise the center on new technologies.

    I am also a rising senior at **[Santa Clara University](http://scu.edu/)**
    studying Political Science and Math. During the upcoming school year, I
    will be co-president of the Santa Clara Pep Band with [this
    man](http://twitter.com/Quin414). We are in charge of performances at all
    men's and women's home basketball games and women's volleyball games. In
    the Spring, we will take a group of 30 musicians to Las Vegas for the WCC
    basketball tournament.

.clear

.grid_12
  %h2.sec_head What I've done before

.grid_4
  :markdown
    From June to August 2011, I worked with **[Code for
    America](http://www.codeforamerica.org)** as a [Google Summer of
    Code](http://code.google.com/soc/) student developing a
    [dashboard](https://github.com/codeforamerica/open311dashboard) to
    visualize 311 requests made in the cities of San Francisco and Boston.

.grid_4
  :markdown
    While interning for the **[Federal Communications
    Commission](http://fcc.gov)** in Fall 2010, I helped the new media team
    develop a system to [organize and tag existing
    pages](http://www.fcc.gov/blog/auditing-fccgov-open-source-developerview)
    on FCC.gov for import into the new site.

.grid_4
  :markdown
    For two summers after I graduated high school I worked for **[Cubic
    Transportation Systems](http://cts.cubic.com/)**, helping implement an
    enterprise wiki system to organize their engineering design documents.

.clear

.grid_12
  %h2.sec_head Things I'm playing with

.grid_6
  %h3.sec_head Mapping Farmers' Markets
  %a(href="markets.html")
    %img(src="img/markets.png")

  :markdown
    Code for America fellow John Mertens made a CouchDB based
    [API](http://codeforamerica.org/2011/08/08/farmers-market-api/) on top of
    USDA's farmers' market information. I decided to use the data to learn
    about mapping and clustering as well as the
    [Polymaps](http://polymaps.org/) javascript framework. What I made was a
    visualization of the clustering of farmers' markets around the 50 largest
    cities in the United States. [See more...](markets.html)
