---
layout: default
title: FDNY Response Times
scripts:
- js/libs/d3.min.js
- js/fdny.js
styles:
- css/fdny.css
---
.grid_12
  %h2.sec_head New York Fire Department Response Times

.clear

.grid_6
  %h3 Boroughs
  %ul.selector#INCIDENTBOROUGH
    - ["Manhattan", "Queens", "Bronx",
      "Staten Island", "Brooklyn", "Citywide"].each do |borough|
      %li
        %a(href="#")= borough

.grid_6
  %h3 Types
  %ul.selector#INCIDENTCLASSIFICATION
    - ["Structural Fires", "Non Structural Fires", "Medical Emergencies",
      "Non Medical Emergencies", "False Alarm", "Medical False Alarm",
      "All Fire/Emergency Incidents"].each do |type|
      %li
        %a(href="#")= type

.clear

.grid_12#selection

.grid_12#chart
